/* variables */
:root {
    --primary-color: rgb(0, 70, 0);
    --secondary-color: gold;
    --neutral-base: lightgray;
}

/* universal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    /* outline: 1px solid red; */
}

body {
    background-color: var(--neutral-base);
}

/* header */
header {
    background: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    padding: 0.5rem;
    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */

}

header img {
    width: 25%;
    height: auto;
    display: inline-block;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
}

header #hamburger {
    cursor: pointer;
    color: white;
    background: none;
    font-size: 1.5rem;
    padding: 0 1rem;
    width: 60px;
}

header nav.show {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    /* outline: 1px solid red; */
    top: 1rem;
    /* left: 1rem; */
    background-color: var(--primary-color);
    width: fit-content;
    text-align: center;
    border: 5px solid var(--secondary-color);
    padding: 1rem;
    /* margin-top: 4rem; */
    border-radius: 1rem;
}

header nav {
    display: none;
}

header nav.show a {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    display: block;
    margin: 0.25rem 0.5rem;
    color: var(--secondary-color);
    /* padding: 0.5rem 0; */
}

header nav.show a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}

/* main */
/* contact.html */
.contact section h2 {
    text-align: center;
    padding-bottom: 1rem;
}

.contact section {
    margin: 1rem 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 3.2rem;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.contact form label {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
}

.contact form input {
    padding-bottom: 1rem;
}

.contact form button {
    padding: 1rem 0;
    margin: 2rem 0;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.contact form button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* index.html */
.hero {
    /* outline: 1px solid red; */
    background-color: var(--primary-color);
    /* border-radius: 1rem; */
    padding: 1rem;
    margin-top: 1rem;
}

.hero h2 {
    text-align: center;
    /* border: 5px solid var(--secondary-color); */
    /* border-radius: 1rem; */
    font-size: 2rem;
    /* background-color: var(--primary-color); */
    color: var(--secondary-color);
    margin: 1rem 0;
    /* padding: 2rem; */
}

.hero p {
    /* padding: 1rem; */
    width: 75%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    max-width: 350px;
}

.call-to-action {
    display: block;
    margin: 1rem auto;
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    width: fit-content;
    text-decoration: none;
    border: 5px solid var(--secondary-color);
    text-align: center;
    background-color: var(--primary-color);
}

.call-to-action:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 5px solid var(--secondary-color);
}

/* carousel */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.5rem;
    margin-top: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.carousel button {
    padding: 0.5rem;
    background-color: var(--primary-color);
    font-size: 2rem;
    color: white;
}

.cards {
    display: flex;
    overflow: hidden;
    /* width: 50%; */
}

.card {
    /* flex: 0 0 100%; */
    display: none;
    text-align: center;
}

.card h2 {
    padding: 1rem 0;
}

.card a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 0.5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 0.5rem;
}

.card a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
}

.card p {
    max-width: 250px;
    line-height: 1.4rem;
    color: white;
}

.card.active {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

/* faithful-stewardship.html */
.principles main > * {
    text-align: center;
}

.principles main {
    margin: 1rem 0;
}

.principles main h2 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.principles section {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
}

.principles section .collapsible.collapsed {
    max-height: 2.5em;
    overflow: hidden;
}

.principles section .collapsible::before {
    content: " [Click to collapse] ";
    display: block;
    color: red;
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.principles section .collapsible.collapsed::before {
    content: " [Click to expand] ";
    display: block;
    color: red;
    font-size: 1.4rem;
    margin: 0.5rem 0;
}

.principles section .collapsible:hover {
    cursor: pointer;
}

.principles section .prev {
    align-self: first baseline;
}

.principles section .next {
    align-self: last baseline;
}

.principles h2 {
    margin: 1rem 0;
}

.principles section a {
    display: inline-block;
    margin-top: 1rem;
    line-height: 1.5rem;
    padding: 0.5rem 1rem;
}

.principles section .collapsible h5 {
    padding: 0.3rem 0;
}

.principles section h3 {
    font-size: 1.8rem;
}

.principles section h4 {
    font-size: 1.3rem;
    text-align: left;
}

.principles section p {
    color: var(--secondary-color);
    text-align: left;
}

.principles section a {
    width: fit-content;
    margin: 0.5rem auto;
}

.principles section h5 {
    font-size: 1.2rem;
    text-align: left;
}

.principles section label {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 1rem;
}

.principles section textarea {
    width: 100%;
    height: 150px;
    font-size: 1rem;
    text-align: left;
    display: block;
    margin-bottom: 1rem;
}

.principles section .reflection button {
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    padding: 0.6rem 1.2rem;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.4rem;
}

.principles section .reflection button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.principles section article .second-heading {
    padding-top: 0;
}

.principles section .call-to-action {
    padding: 1rem;
}

.principles section .cards .card .collapsible {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* footer */
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

/* media queries */
@media screen and (max-width: 300px) {
    header h1 {
        font-size: 11vw;
    }
}

@media screen and (max-width: 400px) {
    footer {
        font-size: 5vw;
        padding: 5vw;
        line-height: 7vw;
    }
}

@media screen and (min-width: 820px) {
    .card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .carousel button {
        display: none;
    }

    .cards {
        gap: 1rem;
        justify-content: space-around;
    }

    .carousel {
        display: block;
    }
}

@media screen and (min-width: 550px) and (max-width: 700px) {
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 60vw;
    }
}

@media screen and (min-width: 700px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 410px;
    }

    .contact main {
        max-width: 700px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 900px) {
    #hamburger {
        display: none;
    }

    header nav {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        /* position: absolute; */
        /* outline: 1px solid red; */
        /* top: 1rem; */
        /* left: 1rem; */
        background-color: var(--primary-color);
        width: fit-content;
        text-align: center;
        border: 5px solid var(--secondary-color);
        padding: 1rem;
        /* margin-top: 4rem; */
        border-radius: 1rem;
    }

    header nav a {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0.5rem;
        display: block;
        margin: 0.25rem 0.5rem;
        color: var(--secondary-color);
        /* padding: 0.5rem 0; */
    }

    header nav a:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        border-radius: 0.5rem;
    }
}