.lazyload main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
}

.lazyload main h1 {
    text-align: center;
}

.lazyload main img {
    width: 100%;
    background: #000;
    animation: fade 15s;
}

.lazyload footer {
    text-align: center;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}