/* universal */
* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* body */
.temples {
    font-family: 'Roboto', sans-serif;
}

/* header */
.temples header {
    background-color: #1d4d72;
    color: white;
}

.temples header h2 {
    padding: 1rem;
    font-size: 2rem;
}

.temples header #hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: none;
    border: none;
    color: white;
}

.temples header nav {
    display: none;
    flex-direction: column;
}

.temples header nav.show {
    display: flex;
    padding: 1rem;
}

.temples header nav a {
    text-decoration: none;
    color: #fff;
    padding: 0.25rem 0;
}

.temples header nav a:hover {
    text-decoration: underline;
    color: #ccc;
}

.temples header nav a:visited {
    color: #ccc;
}

.temples header nav a:active {
    color: #aaa;
}

/* main */
.temples main {
    max-width: 800px;
    margin: 0 auto;
}

.temples main h1 {
    text-align: center;
}

.temples main .figure-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.temples main .figure-grid figure img {
    width: 100%;
}

.temples main .figure-grid figure figcaption {
    text-align: center;
}

.temples .temple-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 1rem;
    max-width: 300px;
    text-align: center;
    background-color: #1d4d72;
    color: #fff;
}

.temples .temple-card img {
    width: 100%;
}

/* footer */
.temples footer {
    background: #1d4d72;
    color: white;
    padding: 1rem;
    text-align: center;
}