@media screen and (min-width: 660px) {
    .temples header #hamburger {
        display: none;
    }

    .temples header {
        display: flex;
        justify-content: space-between;
    }

    .temples header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 3rem;
        align-items: center;
        margin: 0 1rem;
    }

    .temples header nav a {
        color: white;
        font-size: 1.5rem;
    }
}